.main-page {
  color: #212429;
}

.main-page__header {
  padding: 96px 160px;
  font-weight: 500;
  font-size: 50px;
}

.main-page__content {
  height: 1036px;
  background: #f9fafc;
}

.main-page__footer {
  padding: 71px 0 136px;
}

.main-page__footer-title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}

.main-page__footer-text {
  font-size: 16px;
  max-width: 640px;
  margin: 0 auto;
}
