@import '../fonts/fonts.css';

:root {
  --blue-1: #4263eb;
  --blue-2: #7048e8;
  --white: #ffffff;

  --primary: var(--blue-1);
  --secondary: var(--blue-2);
  --alternate: var(--white);
}

* {
    font-family: 'Roboto', sans-serif;
}
